body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 8px;
    padding-bottom: 75px;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 24px;
    font-size: 18px;
    text-decoration: none;
}

.intro {
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}


.gus {
    width: 500px;
    height: auto;
}

.mainText {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -8px;
}

.secondaryText {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 16px;
}

.button1 {
    width: 100px;
    height: auto;
    padding: 8px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: #f9faf8;
}

.upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 12px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 48px;
    flex-wrap: wrap;
}

.cardimg {
    width: 250px;
    height: 170px;
    border: solid 4px #3882f6;
    border-radius: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
}

.uptext{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card_text {
    font-size: 18px;
    color: #1f2937;
}

.middle {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.quote,.auth {
    color: #1f2937;
    width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.auth {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin-right: -120px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    width: 1000px;
    color: #f9faf8;
    padding: 16px;
    border-radius: 12px;
}

.action_button {
    background-color: #3882f6;
    padding: 16px;
    width: 150px;
    height: auto;
    border: none;
    color: #f9faf8;
    border-radius: 8px;
    border:2px solid #e5e7eb;
}

.text1 {
    font-size: 36px;
    font-weight: bold;
}

.text2 {
    font-size: 24px;
    font-weight: lighter;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 16px;
}

body .container {
    flex: auto;
}

.header, .upper, .middle, .bottom, footer {
    padding-left: 150px;
    padding-right: 150px;
}

a {
    color: #e5e7eb;
    text-decoration: none
}

.mid {
    width: 800px;
}